{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "ConnectionStrings": {
    "MyConnection": "Server=DESKTOP-CQ1P1RK\\SQLEXPRESS;Database=PrivateBlog;User=juanuser;Password=juan2005;encrypt=false;"
  },
    "AllowedHosts": "*"
 }
